<!doctype html><html><head>
  <meta charset=utf8>
  <!--vue
    development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head><body>

<!--title-->
<h1>DWC / JOIN 2 CSV FILES</h1>
<p>
  Drag and drop files onto the "Select file" buttons below, or press the button
  to open the select file dialog
</p>

<div id=app>
  <!--joined data-->
  <div
    style="
      display:grid;
      grid-template-columns:33% 33% 33%;
      grid-gap:10px 0;
    "
  >
    <!--filenames and result-->
    <div v-for="file,i in csvs"><b>Load File {{i+1}}</b></div>
    <div><b>Result = File 1 + File 2</b></div>

    <!--load file-->
    <div v-for="file,i in csvs">
      <input
        type=file
        :id="i"
        @change="load_csv_file($event)"
        style="padding:5px 0"
      >
    </div>

    <!--result file-->
    <div>
      <button @click="joined_file=get_joined_file()">
        Join files
      </button>
      <label>
        <input
          type=checkbox
          v-model="interpolation_on"
          :disabled="csvs[0].length==0 || csvs[1].length==0"
        > Use interpolation to fill gaps
      </label>
    </div>

    <!--loaded file contents-->
    <div v-for="file,i in csvs">
      <table border=1>
        <tr>
          <th>Time</th>
          <th>T{{i+1}}(ºC)</th>
        </tr>
        <tr v-for="row,j in file" v-if="j<10">
          <td>{{row.timestamp.toLocaleString()}}
          <td>{{row.temperature}}
        </tr>
        <tr><td colspan=2>...{{file.length}} rows (total)</td></tr>
      </table>
    </div>

    <!--result contents-->
    <div>
      <table border=1>
        <tr>
          <th>Time</th>
          <th v-for="file,i in csvs">T{{i+1}}(ºC)</th>
        </tr>
        <tr v-for="row,i in joined_file" v-if="i<10">
          <td>{{row.timestamp.toLocaleString()}}
          <td v-for="file,j in csvs">
            {{row[`temperature${j+1}`]}}
          </td>
        </tr>
        <tr>
          <td colspan=3>...{{joined_file.length}} rows (total)</td>
        </tr>
      </table>
      <p>
        <button @click="download_as_csv()">download as CSV</button>
        <button @click="download_as_json()">download as JSON</button>
      </p>
    </div>
  </div>
</div>

<script>
  let app=new Vue({
    el:"#app",
    data:{
      csvs:[
        [], //csv 1 (array of rows)
        [], //csv 2 (array of rows)
      ],
      joined_file:[], //result (file 1 + file 2)
      interpolation_on:false,
    },

    methods:{
      //read csv file
      load_csv_file(event){
        let file   = event.target.files[0];
        let reader = new FileReader();
        let _this  = this;

        reader.onload=function(){
          let content = reader.result;       //string
          let rows    = content.split('\n'); //array
          rows.splice(rows.length-1,1); //delete last row

          let csv=_this.csvs[parseInt(event.target.id)];

          rows.forEach((row,i)=>{
            if(i<2) return;
            let cells       = row.split(',');
            let timestamp   = _this.convert_timestamp(cells[1]);
            let temperature = parseFloat(cells[2]);
            if(temperature){
              csv.push({timestamp,temperature});
            }
          });
        };

        try{
          reader.readAsText(file);
        }catch(e){
          alert(e);
          throw(e);
        }
      },

      join_csvs(){
        let all_rows=[];
        this.csvs.forEach((csv,i)=>{
          csv.forEach(row=>{
            let timestamp = row.timestamp;
            let new_row = { timestamp };
            this.csvs.forEach((csv,j)=>{
              let key = `temperature${j+1}`;
              if(i==j) new_row[key] = row.temperature;
            });
            all_rows.push(new_row);
          });
        });

        //sort by timestamp
        all_rows.sort((a,b)=>{
          return (a.timestamp>b.timestamp) ? 1 : -1;
        });
        return all_rows;
      },

      convert_timestamp(str){
        //str   = "16/07/20 09:38:06"; //test string
        let split = str.split(" "); //array
        let date  = split[0]; //string
        let time  = split[1]; //string

        //rearrange date
        let date_split = date.split("/");
        let dd         = date_split[0];
        let mm         = date_split[1];
        let yy         = date_split[2];

        //fix year format
        if(yy.length==2) yy = "20"+yy;

        let new_date = `${mm}/${dd}/${yy} ${time}`;
        return new Date(new_date);
      },

      fill_gaps_using_interpolation(){
        let all_rows = this.join_csvs();
        let filled_data = []; //return value

        /*ensure that the last row of the joined csvs has all fields defined*/
        let last_row     = all_rows[all_rows.length-1];
        let new_last_row = {timestamp:null, temperature1:null, temperature2:null};
        {
          //find the latest row with the missing key of the last row
          let missing_key = last_row.temperature1===undefined?"temperature1":"temperature2";
          let index = all_rows.length-2; //first index to search for a valid previous row
          while(all_rows[index][missing_key]===undefined){
            index--;
          }
          let prev_row = all_rows[index]; //latest row with the missing key defined

          new_last_row.timestamp    = last_row.timestamp;
          new_last_row.temperature1 = last_row.temperature1;
          new_last_row.temperature2 = last_row.temperature2;
          new_last_row[missing_key] = prev_row[missing_key];
        }

        all_rows.forEach((row,i)=>{
          let missing_key = row.temperature1===undefined ? "temperature1":"temperature2";

          //first row
          if(i==0){
            //find next row with missing key
            let index = i+1; //index of next row
            while(all_rows[index][missing_key]===undefined){
              index++;
            }
            let next_row = all_rows[index]; //next row with missing key

            let new_row = {timestamp:null, temperature1:null, temperature2:null};
            new_row.timestamp    = row.timestamp;
            new_row.temperature1 = row.temperature1;
            new_row.temperature2 = row.temperature2;
            new_row[missing_key] = next_row[missing_key];
            filled_data.push(new_row);
            return;
          }

          //last row (already calculated)
          if(i==all_rows.length-1){
            filled_data.push(new_last_row);
            return;
          }

          /*intermediate rows*/
          let index_prev_row = i-1; //index of prev row
          while(all_rows[index_prev_row][missing_key]===undefined){
            index_prev_row--;
          }
          let prev_row = all_rows[index_prev_row]; //found prev row with missin key defined

          let index_next_row = i+1; //index of next row
          let end_reached=false;
          while(all_rows[index_next_row][missing_key]===undefined){
            index_next_row++;
            if(index_next_row>=all_rows.length){
              end_reached=true;
              break;
            }
          }
          let next_row = end_reached? new_last_row : all_rows[index_next_row];

          let slope     = (next_row[missing_key] - prev_row[missing_key])/(next_row.timestamp - prev_row.timestamp);
          let new_value = prev_row[missing_key] + slope*(row.timestamp - prev_row.timestamp);

          let new_row={timestamp:null, temperature1:null, temperature2:null};
          new_row.timestamp    = row.timestamp;
          new_row.temperature1 = row.temperature1;
          new_row.temperature2 = row.temperature2;
          new_row[missing_key] = new_value;
          filled_data.push(new_row);
        });

        return filled_data;
      },

      get_joined_file(){
        return this.interpolation_on ? this.fill_gaps_using_interpolation() : this.join_csvs();
      },

      download_as_csv(){
        let content="";
        this.joined_file.forEach(row=>{
          content += row.timestamp.toLocaleString()+",";
          content += (row.temperature1||"")+",";
          content += (row.temperature2||"")+",";
          content += "\r\n";
        });
        let file = new Blob([content],{type:'text/plain'});

        //generate <a> link and click it
        let a      = document.createElement('a');
        a.href     = URL.createObjectURL(file);
        a.target   = '_blank';
        a.download = 'joined_csvs.csv'; //filename
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      },

      download_as_json(){
        let content = JSON.stringify(this.joined_file,null,"  ");
        let file    = new Blob([content],{type:'text/plain'});

        //generate <a> link and click it
        let a      = document.createElement('a');
        a.href     = URL.createObjectURL(file);
        a.target   = '_blank';
        a.download = 'joined_csvs.json'; //filename
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      },
    },
  });
</script>

<style>
  table{
    border-collapse:collapse;
  }
  th{
    text-align:left;
  }
</style>
